<!DOCTYPE html>

<!--duck mascot using javascript-->
<html>
    <head>
        <title>Fitness Quack</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://kit.fontawesome.com/ab993de334.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <a onclick="openNav()"><button class ="navigation"><i id="navButton" class="fa-solid fa-bars"></i></button></a> <h1>Nutrition</h1>
        <div id="calSidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/mainpage" class="navButton"><i class="fa-solid fa-house"></i>   Home</a>
            <a href="/caloriechecker" id="active" class="navButton"><i id="icon" class="fa-solid fa-chart-pie"></i>   Nutrition</a>
            <a href="/sleepcounter" class="navButton"><i class="fa-solid fa-bed"></i>   Sleep</a>
            <a href="/exercise" class="navButton"><i class="fa-solid fa-dumbbell"></i>   Exercise</a>
            <a href="/statistics"  class="navButton"><i class="fa-solid fa-chart-simple"></i>   Statistics</a>
        </div>
        <!-- stylize nav button -->

        <!-- Form for Calorie Checker -->
        <h4 class = "formintro"> Please enter in how many calories you've eaten today.</h4>

        <form action="/caloriechecker" method="post">
            <div  style ="text-align:center;">
                <label >Calories:</label>
                <input id="Calories" type = "text" name="calorie"  required>
                <input class = "smallbutton" id = "submit" type="submit" onclick = "store()" value="submit">
                <!-- <button type = 'button' onclick ="store()" class = "smallbutton" id="submit">submit!</button> -->
                <h5  id = "output" style = 'display: none'  >
                     Your calorie count is under the 1600 daily calorie minimum limit recommended by the US 2020-2025 Dietary Guidelines!
                     I highly encourage you to have a bit more food before you end the day, as calories contribute directly to your body's energy reserves! While it's important to keep your body at a balanced and healthy weight, it's just as important to keep yourself fed and watered, and to not skip meals.
                     Skipping meals could have long-term effects on your body's metabolism, and can lead to lowered blood sugar, which creates health problems down the line.
                     If you're on a diet or are purposely cutting your calories down, and are unsure how to meet the recommended calorie minimum, try eating some high-protein foods! Foods such as chicken breast, boiled eggs, or greek yogurt typically have less calories, but lots of lean protein and other nutrients, helping you to build muscle and keep yourself at a healthy weight!
                    <br> <br> Additionally, keep in mind that for those who are biologically male, a 2,400 calorie minimum is recommended instead due to differences in size, body structure and muscle distribution! <br> Stay healthy! <br> [Sincerely, the FitnessQuack Duck!] </h5>
                </div>

                <h5 id = "calshealthy" style = 'display: none' >
                    Your calorie count for today is within range of the healthy daily calorie limit (1600-2400 for females, 2000-3000 for males!) Congratulations! Ensuring that you eat within the range of the recommended limits of calories per day means you're making sure your body is getting the nutrients it needs without over-eating or under-eating! Keep in mind, however, that not all calories are the same! 2,000 calories of hamburgers and 2,000 calories of chicken breast may look similar on paper, but the amount of nutrients found in the latter far surpasses those in hamburgers. Make sure your diet remains varied and that you're eating lots of organic protein, fruit, vegetables, grains, and other healthy foods! <br> Stay healthy! <br> [Sincerely, the FitnessQuack Duck!] </h5>

                <img src= "https://i.pinimg.com/564x/af/66/f6/af66f6f05298dacf38f7badfc176080b.jpg" id = "duck" style="display: none" class = "center">

                
                <!-- script for running the html pages of nutrition that pop up once calories are inputted -->
                

 <script>
    // example script of how to enable and disable html blocks depending on the value of the calories!

//                 var showHide = document.getElementById("showHide");
//                 var demo = document.getElementById("demo");
//                 showHide.onclick = function() {
//                 if (demo.style.display == "block") {
//                         demo.style.display = "none";
//                     } else {
//                         demo.style.display = "block";
//                         }
//                         }
//             <p id='demo' style='display: none'>Hello Javascript</p>
//             <button id="showHide">Click Me</button>
//             

                    store = function() {
                        var cals = document.getElementById("Calories").value;
                        cals = parseInt(cals);
                        var button = document.querySelector("button")

                        var submit = document.getElementById("submit");

                        // <!-- calories are too low html page -->
                        if (cals < 1600) {
                            var output = document.getElementById("output");
                            var duck = document.getElementById("duck");

                        if (output.style.display == "block") {
                            output.style.display = "none";
                        }
                        else {
                            output.style.display = "block";
                        }

                        if (duck.style.display == "block") {
                            duck.style.display = "none";
                        }
                        else {
                            duck.style.display = "block";
                        }
                        }

                        // else if (1600 <= cals < 3000){
                        //     var calshealthy = document.getElementByid("calshealthy");
                        //     var duck = document.getElementById("duck");

                        //     if (calshealthy.style.display == "block") {
                        //     calshealthy.style.display = "none";
                        // }
                        // else {
                        //     calshealthy.style.display = "block";
                        // }

                        // if (duck.style.display == "block") {
                        //     duck.style.display = "none";
                        // }
                        // else {
                        //     duck.style.display = "block";
                        // }
                        // }
                        
                        }

                        
                       
                </script>
            
     
                
            
            
           
          

        
           
    
            

        <script src="script/CalorieCheckerScript.js"></script>
    </body>
    <style>

         #navButton{
            font-size:20px;
        }

        .navigation {
            border-radius:8px;
            margin-top:4px;
            margin-left:5px;
            background-color: #fff6d2;
            font-family: "Chakra Petch";
            text-shadow: #ffde7c;
            font-style: normal;
            padding: 3px 6px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            color: #ffe586;
            border: 2px solid #ffe596;
            float: left;

        }

        #active{ /* TEMPORARY (feel free to change) */
            background-color: rgb(255, 240, 163);
            font-family: "Chakra Petch";
            color:#ceb749;
            text-shadow: #ffe77c;
            border: 6px solid #ffe77c;
        }

        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 350px;
}


    
     


        .wrapper {
    text-align:center;
        }

        h5 {
            color:rgb(255, 255, 255);
            font-size: x-large;
            font-family: "Chakra Petch";
            text-shadow: #ffe77c;
            color: rgb(243, 173, 132);
            border: 6px solid #f9cd7c;
            text-align:center;
            background-color: rgb(221, 158, 112);
            border-style:groove;
            border-radius: 10px;
            border-color: rgb(255, 255, 255);
            -webkit-text-fill-color: rgba(255, 248, 243, 0.901); 
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(132, 132, 132);
        }

        

        .button {
            position: absolute;
            top: 40%;
        }
    
        
        h1 {
            color:rgb(245, 237, 220);
            font-size: 400;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:xx-large;
            text-align:center;
            background-color: rgb(254, 248, 235);
            border-style:groove;
            border-radius: 10px;
            border-color: rgb(255, 255, 255);
            -webkit-text-fill-color: rgb(248, 227, 178); 
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(123, 123, 123);
            
        }

        /* Text for Nutrition Page */
        h4 {
            text-align: center;
            font-family: "Chakra Petch";
            text-shadow: #ffe77c;
            color: rgb(243, 173, 132);
           
            border: 6px solid #f9cd7c;

        }

        

             .smallbutton {
            background-color: rgb(240, 179, 118);
            font-family: "Chakra Petch";
            text-shadow: #ffc07c;
            font-style: normal;
            padding: 10px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            border: 6px solid #fac56f;

             }
        .navButton {
        background-color: rgb(250, 215, 171);
        font-family: "Chakra Petch";
        text-shadow: #ffc07c;
        font-style: normal;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        border: 6px solid #ffc07c;
        margin-top: 5px;

            }

             .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #fff2d2; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

        /* The navigation menu links */
        .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        color: rgb(255, 255, 255);
        display: block;
        transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
        color: #f1f1f1;
        }

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        }
        
        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        }


        body {
            background-image: url(https://i.pinimg.com/originals/72/aa/6e/72aa6ead478c0959269b773fca9095ef.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

    </style>
    <script>
        function openNav() {
            document.getElementById("calSidenav").style.width = "100px";
          }
          
          /* Set the width of the side navigation to 0 */
          function closeNav() {
            document.getElementById("calSidenav").style.width = "0";
          }
        
          function openNav() {
            document.getElementById("calSidenav").style.width = "100px";
            document.getElementById("main").style.marginLeft = "100px";
          }
          
          /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
          function closeNav() {
            document.getElementById("calSidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
          }
        
         
        
          function openNav() {
            document.getElementById("calSidenav").style.width = "100px";
            document.getElementById("main").style.marginLeft = "100px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
          }
          
          /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
          function closeNav() {
            document.getElementById("calSidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
          }
        
          /* Open the sidenav */
        function openNav() {
            document.getElementById("calSidenav").style.width = "20%";
          }
          
          /* Close/hide the sidenav */
          function closeNav() {
            document.getElementById("calSidenav").style.width = "0";
          }
    </script>
</html>